<!<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include partials/head %>
    </head>
    <body class="container">
        <div>
            <h1></h1>
            <h1 id="header"><span>Home Page</span></h1>
                <p>Welcome!</p>
                <p>Lab 2 illustrates basics notion of NodeJs and Express.</p>
                <p>Collaborators: Marvin Martin ING4 SI Gr02.</p>
            <h2><span>Hello / Metrics</span></h2>
                <nav>
                    <ul id="menu">
                    <li><a href="/Hello/Marvin">Metrics</a></li>
                    </ul>
                </nav>
        </div>
    </body>
</html>
